---
import Hero from "@/components/Section/Hero.svelte"
import InformationSection from "@/components/Section/Information.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="GraphGlean">
	<main class="mb-40 space-y-40">
		<Hero client:visible />
		<InformationSection />
	</main>
</Layout>
