---
import Features from "../components/Features.astro"
import HeroSection from "../components/HeroSection.astro"
import Layout from "../layouts/Layout.astro"
import Testimonials from "../components/Testimonials.astro"
import Tabs from "@/components/Tabs.astro"
---

<Layout title="Welcome to Astrolus.">
	<main class="mb-40 space-y-40">
		<HeroSection />
		<Tabs />
		<Features />
		<Testimonials />
	</main>
</Layout>
