---
import HeroSection from "./../components/Section/Hero.astro"
import InformationSection from "./../components/Section/Information.astro"
import OpenGraph from "./../components/Section/OpenGraph.astro"
import Layout from "./../layouts/Layout.astro"
---

<Layout title="OpenGraphCollect">
	<main class="mb-40 space-y-40">
		<HeroSection />
		<!-- <Tabs /> -->
		<OpenGraph />
		<InformationSection />
	</main>
</Layout>
