---
import Container from "./Container.astro"
import Link from "@/icons/link.astro"
import { URL_SERVER } from "@/consts/server"
---

<div class="relative" id="home">
	<div
		aria-hidden="true"
		class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
	>
		<div class="h-56 bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700">
		</div>
		<div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600">
		</div>
	</div>
	<Container>
		<div class="relative ml-auto pt-20">
			<div class="mx-auto text-center lg:w-2/3">
				<div
					class="gradient-text to-danger bg-gradient-to-r from-primary bg-clip-text text-center text-8xl font-extrabold tracking-tighter text-transparent"
				>
					GraphGlean
				</div>
				<h1 class="text-4xl font-bold text-gray-900 dark:text-white md:text-5xl xl:text-5xl">
					Open<span class="text-primary dark:text-white">Graph</span> Tool
				</h1>
				<p class="mb-6 mt-8 text-gray-700 dark:text-gray-300">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione autem non quo
					harum quasi sunt repudiandae labore a in voluptatibus quia dolore alias, dignissimos quas
					aliquam temporibus animi nesciunt!
				</p>
				<form id="gleanForm">
					<div class="relative mb-4">
						<div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5">
							<Link />
						</div>
						<input
							type="url"
							id="input-group-1"
							class="block w-full rounded-lg border border-gray-300 p-2.5 ps-10 text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
							placeholder="https://my-portfolio-moises35.vercel.app/"
						/>
					</div>
					<div class="mt-1 flex flex-wrap justify-center gap-x-6 gap-y-4">
						<button
							id="gleanBtn"
							class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
						>
							<span class="relative text-base font-semibold text-white">Glean</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</Container>
</div>

<style>
	.gradient-text {
		background-clip: text;
		color: transparent;
		background-image: linear-gradient(to bottom right, red);
	}
</style>

<script is:inline define:vars={{ url_fetch: URL_SERVER }}>
	const gleanForm = document.getElementById("gleanForm")

	const validateURL = (url) => {
		const urlRegex = /^(https?:\/\/)?([\w-]+\.)+[\w-]+(\/[\w-./?%&=]*)?$/
		return urlRegex.test(url)
	}

	gleanForm.addEventListener("submit", (e) => {
		e.preventDefault()
		const url_website = document.querySelector("input[type='url']").value
		if (validateURL(url_website)) {
			try {
				fetch("./.netlify/functions/scraper", {
					method: "POST",
					body: JSON.stringify({
						url: url_website,
					}),
				}).then((res) => {
					console.log(res)
				})
			} catch (err) {
				console.log(`El error ocurrio en el try: ${err}`)
			}
		} else {
			alert("URL is not valid")
		}
	})
</script>
