---
import { informationListCard } from "@/assets/data/informationData"
import Container from "@/components/Atom/Container.astro"
import InfoCard from "@/components/Atom/InfoCard.astro"
---

<div id="features">
	<Container>
		<div
			class="mt-16 grid divide-x divide-y divide-gray-100 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:divide-gray-700 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
		>
			{
				informationListCard.map((card) => (
					<InfoCard
						altImage={card.altImage}
						description={card.description}
						srcImage={card.srcImage}
						title={card.title}
					/>
				))
			}
		</div>
	</Container>
</div>
