---
import AppFooter from "@/components/Layout/Footer.astro"
import AppHeader from "@/components/Layout/Header.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="DXPD4Vo8x5YPdYFe7l7SFxfvW1KeJ47ro_VJHv8wtK8" />
		<meta
			property="og:description"
			name="description"
			content="Mejora la visibilidad de tu contenido asegurando que se muestren imágenes, títulos y descripciones precisas cuando se comparte en línea."
		/>
		<meta name="author" content="Moisés Alvarenga" />
		<meta property="og:title" content="GraphGlean" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://graphglean.netlify.app/" />
		<meta property="og:image" content="https://graphglean.netlify.app/og-image.png" />
		<meta name="copyright" content="GraphGlean" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:domain" content="graphglean.netlify.app" />
		<meta name="twitter:url" content="https://graphglean.netlify.app/" />
		<meta name="twitter:image" content="https://graphglean.netlify.app/og-image.png" />

		<title>{title}</title>
		<style>
			html {
				scroll-behavior: smooth;
			}

			body {
				margin: 0;
			}
		</style>
	</head>

	<body class="bg-white dark:bg-gray-900">
		<AppHeader />
		<slot />
		<AppFooter />
	</body>
</html>
