---
import Badge from "./../Badge.astro"

const { title, link, description, srcCover } = Astro.props
---

<div>
	<div class="border border-gray-300 overflow-hidden bg-gray-200">
		<img src={ srcCover } alt={title} class="w-full object-cover">
		<div class="px-4 py-4">
			<div class="font-light text-xs truncate uppercase">
				{ link }
			</div>
			<div class="font-bold text-md truncate">
				{ title }
			</div>
			<p class="text-gray-600 text-sm truncate">
				{ description }
			</p>
		</div>
	</div>
	<div class="px-6 pt-4 pb-2 text-center"><Badge text="Facebook" bgClass="bg-indigo-800" /></div>
</div>