---
import Badge from "./../Badge.astro"

const { title, link, description, srcCover } = Astro.props
---
<div>
	<div class="border border-gray-300 rounded-sm shadow-md overflow-hidden bg-white">
		<img src={ srcCover } alt={ title } class="w-full object-cover">
		<div class="px-4 py-4">
			<div class="font-bold text-sm">
				{ title }
			</div>
			<div class="font-light text-xs truncate text-gray-500 uppercase">
				{ link }
			</div>
		</div>
	</div>
	<div class="px-6 pt-4 pb-2 text-center"><Badge text="LinkedIn" bgClass="bg-blue-800" /></div>
</div>